@import '../base/variables';
@import '../base/mixins';
/*Footer*/
.footer-container {
    width: 100%;
    padding-left: auto;
    padding-right: auto;
    background-color: black;
    @include grid-columnas (grid, 1fr 1fr 1fr 1fr);
    
    @media screen and (max-width: 800px) {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }

    .logo-footer {
        text-align: center;
        margin-top: 1em;
        margin-bottom: 2em;
        
        .logo {
            font-family: $font-family-logo;
            font-size: 2em;
            color: white;
            text-decoration: none;
            padding-left: 2rem;
        }
        p {
            font-family: 'Righteous';
            margin-top: 1em;
            text-align: center;
            color: white;
            @media screen and (max-width: 800px) {
                text-align: center;
            }
        }
    }
    .mapa {
        text-align: center;
        margin-top: 1em;
        margin-bottom: 2em;
        margin-left: 5%;
        width: 90%;
    }

    div {
        text-align: center;
        margin-top: 1em;
        margin-bottom: 2em;
        .seccion {
            color: white;
        }
        
        .iconredes {
            width: 2rem;
            
            &:hover {
                width: 3rem;
            }
        }
    }
    /*Redes*/
    div {
        text-align: center;
        margin-top: 1em;
        margin-bottom: 2em;
                
        .iconredes {
            padding: 10px;
            width: 3rem;
            transition: all 1s;

            &:hover {
                transform: scale(2);
            }
        }
    }
}
/*Fin footer*/

