@import '../base/variables';
@import '../base/mixins';

/*Header*/
header {
    .header-container {
        width: 100%;
        padding-right: 1rem;
        @include flex-header (flex, center, space-between); 
        flex-wrap: wrap;

        .logo {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 2em;
            font-weight: bolder;
            color: #080808;
            text-decoration: none;
            padding-left: 2rem;

        }

        .redes {
            .iconredes {
                width: 2rem;

                &:hover {
                    width: 3rem;

                }

            }
        }

    }
}
/*Fin header*/

