@import '../base/variables';
/*Main*/

.main-index {
    text-align: center;
    background-image: url(../../image/page/portada.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 90%;
    margin-top: 2%;
        
    section {
        .portada-texto {
            margin-left: 8rem;
            padding-top: 6rem;
            width: 40%;
            font-family: $font-family-page;
            font-size: 3em;

            @media screen and (max-width: 469px) {
                font-size: 1em;
                padding-top: 1.5rem;
                margin-left: 2rem;
            }
            @media screen and (min-width:470px) and (max-width: 670px) {
                font-size: 1.5em;
                padding-top: 2.5rem;
                margin-left: 2.5rem;
            }
            @media screen and (min-width: 671px) and (max-width: 980px) {
                font-size: 2em;
                margin-left: 3rem;
            }    
        }

        .portada-textob {
            margin-left: 8rem;
            padding-top: 5%;
            padding-bottom: 20%;
            width: 40%;
            font-family: $font-family-page;
            color: $color-font-page;            
            font-size: 1.5em;

            @media screen and (max-width: 469px) {
                font-size: 10px;
                margin-left: 2rem;
            }
            @media screen and (min-width:470px) and (max-width: 670px) {
                font-size: 1em;
                padding-top: 1.5rem;
                margin-left: 2rem;
            }
            @media screen and (min-width: 671px) and (max-width: 980px) {
                font-size: 1em;
                margin-left: 3rem;
            }
        }        
    }
}    
/*Fin main*/
