@import '../base/extends';
/*Nosotros*/
main {
    .nosotros {
        width: 80%;
        background-color: $bg-color-nosotros;
        border-radius: 10px;
        color: black;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2%;
        padding: 5%;

        .nosotros-titulo {
            padding-bottom: 5%; 
            font-family: 'Righteous', cursive;
            font-size: 3em;

            @media screen and (max-width: 469px) {
                font-size: 2em;
            }
        }
        .nosotros-parrafo {
            padding-bottom: 5%;
            font-family: 'Righteous', cursive;
            font-size: 1.5em;
            font-weight: lighter;
            color: darkolivegreen;
        }
    }

    .grid-container-somos {
        @extend %estilos-secciones;
        margin-top: 3%;

        div {
            background-color: #E3E5E4;
            padding: 1em;
            border-radius: 20px;
            box-shadow: 5px -5px #ABABAB;

            &:hover {
                border: 1px solid black;
            }
            
            .sub-titulo {
                text-align: center;
                margin-bottom: 1em;
                font-family: 'Righteous', cursive;
                font-size: 1em;
                font-weight: lighter;
            }
            .parrafo-servicios {
                text-align: center;
                font-family: 'Righteous', cursive;
                font-size: 1em;
                color: darkolivegreen;

            }
        }
    } 
}
/*Fin nosotros*/