@import '../base/extends';
/*Servicios*/
.seccion {
    text-align: center;
    font-family: sans-serif;
    font-size: 1.5em;
    color: #080808;
    margin-bottom: 2em;

}
.grid-container {
    @extend %estilos-secciones;

    div {
        background-color: #E3E5E4;
        padding: 1em;
        border-radius: 20px;
        box-shadow: 5px -5px #ABABAB;
        
        &:hover {
            border: 1px solid black;
        }

        .sub-titulo {
            text-align: center;
            margin-bottom: 1em;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1em;
            font-weight: bold;
        }
        .parrafo-servicios {
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1em;
        }
    }
}
/*Fin Servicios*/

