/*MEDIAS*/
/*Small Mobile*/
@media screen and (max-width: 469px) {
    .portada-texto {
        font-size: 1em;
        font-weight: bolder;
        padding-top: 1rem;
    }
    .portada-textob{
        font-size: 10px;
        margin-left: 2rem;
    }
    .nosotros-titulo{
        font-size: 2em;
    }
            
}

/*Mobile & Tablet*/
@media screen and /*(min-width:560px) and */(max-width: 559px) {
    .portada-texto {
        font-size: 1em;
        font-weight: bolder;
    }
    .portada-textob {
        visibility: hidden;
    }
}


@media screen and (min-width:560px) and (max-width: 670px) {
    .portada-texto {
        font-size: 1.5em;
        font-weight: bolder;
    }
    .portada-textob {
        font-size: 1em;
        padding-bottom: 3rem;
        font-weight: bold;
    }
}

/*Mobile & Tablet*/
@media screen and (min-width: 671px) and (max-width: 980px) {
    .portada-texto {
        font-size: 2em;
        font-weight: bolder;
    }
    .portada-textob{
        font-size: 1.5em;
    }
}

/*Tablet & Mobile*/
@media screen and (max-width: 980px) {
    .header-container {
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
        gap: 1em;
        text-align: center;
    }
    .barra {
        width: 100%;
        margin-left: 50%;
        display: block;            
    } 
}

@media screen and (max-width: 690px) {
    .grid-container {
        display: block;
    }
}

@media screen and (max-width: 800px) {
    .footer-container {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }
    .logo-footer > p {
        text-align: center;
    }
}

@media screen and (max-width: 1190px) {
    .grid-container, .product {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}