@mixin flex-header ($display, $aling, $justify) {
    display: $display;
    align-items: $aling;
    justify-content: $justify;

} 

@mixin grid-columnas ($display, $columnas) {
    display: $display;
    grid-template-columns: $columnas;
}
